<h1>ShowUserBiddings#index</h1>
<p>Find me in app/views/show_user_biddings/index.html.erb</p>

<table class="table">

  <tbody>
  <% @biddings.each do |bidding| %>
      <tr>
        <td>Auction Price:<%= bidding.price %></td>
        <td>
          Auction title:<%= bidding.auction.title %></td>
      </tr>


  <% end %>
  </tbody>

</table>
